In [1]:
import pymongo

In [4]:
myclient = pymongo.MongoClient("mongodb://localhost:27017")
mydb = myclient['mydatabase']
print("List of collections are : ", myclient.list_database_names())

# new collection
mycol = mydb['worker']

List of collections are :  ['admin', 'config', 'local', 'mydatabase']

In [5]:
#################################################################
# Insert one object
#################################################################

# inserting some data
my_query = {"first_name": "Hasan",
            "last_name": "Moni",
            "address": "sylhet",
            "mobile": 167728,
            'degree': 'B.Sc'}

x = mycol.insert_one(my_query)

for x in mycol.find():
    print(x)

{'_id': ObjectId('5f66f0dac745662f4651c64a'), 'first_name': 'Hasan', 'last_name': 'Moni', 'address': 'sylhet', 'mobile': 167728, 'degree': 'B.Sc'}

In [6]:
####################################################################
# Insert many query
#####################################################################
my_query2 = [{
            "_id": 1,
            "first_name": "Hasan",
            "last_name": "Moni",
            "address": "sylhet",
            "mobile": 167728,
            'degree': 'B.Sc',
            'age': 26},
            {
            "_id": 2,
            "first_name": "rana",
            "last_name": "mubarak",
            "address": "UK",
            "mobile": 86645,
            'degree': 'MBBS',
            'age': 31},
            {
            "_id": 3,
            "first_name": "nadira",
            "last_name": "akter",
            "address": "sylhet",
            "mobile": 17,
            'degree': 'Honours',
            'age': 24}]

y = mycol.insert_many(my_query2)
for x in mycol.find({"_id": 2}):
    print("Print information where _id=2 : ", x)

Print information where _id=2 :  {'_id': 2, 'first_name': 'rana', 'last_name': 'mubarak', 'address': 'UK', 'mobile': 86645, 'degree': 'MBBS', 'age': 31}

In [7]:
# use of find_one()
print("Printing first object :", mycol.find_one())

Printing first object : {'_id': ObjectId('5f66f0dac745662f4651c64a'), 'first_name': 'Hasan', 'last_name': 'Moni', 'address': 'sylhet', 'mobile': 167728, 'degree': 'B.Sc'}

In [8]:
# find() function print all of the information
for x in mycol.find():
    print(x)

{'_id': ObjectId('5f66f0dac745662f4651c64a'), 'first_name': 'Hasan', 'last_name': 'Moni', 'address': 'sylhet', 'mobile': 167728, 'degree': 'B.Sc'}
{'_id': 1, 'first_name': 'Hasan', 'last_name': 'Moni', 'address': 'sylhet', 'mobile': 167728, 'degree': 'B.Sc', 'age': 26}
{'_id': 2, 'first_name': 'rana', 'last_name': 'mubarak', 'address': 'UK', 'mobile': 86645, 'degree': 'MBBS', 'age': 31}
{'_id': 3, 'first_name': 'nadira', 'last_name': 'akter', 'address': 'sylhet', 'mobile': 17, 'degree': 'Honours', 'age': 24}

In [9]:
# print all information where first_name='rana'
for x in mycol.find({'first_name': 'rana'}):
    print(x)

{'_id': 2, 'first_name': 'rana', 'last_name': 'mubarak', 'address': 'UK', 'mobile': 86645, 'degree': 'MBBS', 'age': 31}

In [10]:
# use of "$in", "$gt", "$lt"
for x in mycol.find({'degree': {"$in": ["B.Sc"]}}):
    print(x)

{'_id': ObjectId('5f66f0dac745662f4651c64a'), 'first_name': 'Hasan', 'last_name': 'Moni', 'address': 'sylhet', 'mobile': 167728, 'degree': 'B.Sc'}
{'_id': 1, 'first_name': 'Hasan', 'last_name': 'Moni', 'address': 'sylhet', 'mobile': 167728, 'degree': 'B.Sc', 'age': 26}

In [11]:
# Use of conditional operation
for x in mycol.find({'first_name': "rana", 'age': {"$gt": 25}}):  
    print(x)

{'_id': 2, 'first_name': 'rana', 'last_name': 'mubarak', 'address': 'UK', 'mobile': 86645, 'degree': 'MBBS', 'age': 31}

In [12]:
# Use of or operator
for x in mycol.find({"$or": [{"first_name": "rana"},  {"last_name": "Moni"}]}):
    print(x)

{'_id': ObjectId('5f66f0dac745662f4651c64a'), 'first_name': 'Hasan', 'last_name': 'Moni', 'address': 'sylhet', 'mobile': 167728, 'degree': 'B.Sc'}
{'_id': 1, 'first_name': 'Hasan', 'last_name': 'Moni', 'address': 'sylhet', 'mobile': 167728, 'degree': 'B.Sc', 'age': 26}
{'_id': 2, 'first_name': 'rana', 'last_name': 'mubarak', 'address': 'UK', 'mobile': 86645, 'degree': 'MBBS', 'age': 31}

In [16]:
# Use of and operator
for x in mycol.find({"$and" : [ {"first_name": 'rana'}, {"age": {'$gt': 24}} ]}):
    print(x)

{'_id': 2, 'first_name': 'rana', 'last_name': 'mubarak', 'address': 'UK', 'mobile': 86645, 'degree': 'MBBS', 'age': 31}

### Creating another collection

In [19]:
mycol2 = mydb['employee_details']

In [21]:
new_query = [{ 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
             { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
             { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
             { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
             { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }]

In [22]:
mycol2.insert_many(new_query)

In [23]:
for x in mycol2.find():
    print(x)

{'_id': ObjectId('5f66f39ac745662f4651c64b'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('5f66f39ac745662f4651c64c'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'A'}
{'_id': ObjectId('5f66f39ac745662f4651c64d'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('5f66f39ac745662f4651c64e'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}
{'_id': ObjectId('5f66f39ac745662f4651c64f'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}

In [25]:
for x in mycol2.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(x)

{'_id': ObjectId('5f66f39ac745662f4651c64b'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}