In [1]:
import pymongo
import datetime

In [2]:
myclient = pymongo.MongoClient("mongodb://localhost:27017")
mydb = myclient['mydatabase']
print("List of collections are : ", myclient.list_database_names())

# new collection
mycol = mydb['student_details']

List of collections are :  ['admin', 'config', 'local', 'mydatabase']

In [5]:
data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}]

In [6]:
mycol.insert_many(data)

In [7]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('5f672b048335b4b6d8e85a48'), 'user': 'Krish', 'subject': 'Database', 'score': 80}
{'_id': ObjectId('5f672b048335b4b6d8e85a49'), 'user': 'Amit', 'subject': 'JavaScript', 'score': 90}
{'_id': ObjectId('5f672b048335b4b6d8e85a4a'), 'user': 'Amit', 'title': 'Database', 'score': 85}
{'_id': ObjectId('5f672b048335b4b6d8e85a4b'), 'user': 'Krish', 'title': 'JavaScript', 'score': 75}
{'_id': ObjectId('5f672b048335b4b6d8e85a4c'), 'user': 'Amit', 'title': 'Data Science', 'score': 60}
{'_id': ObjectId('5f672b048335b4b6d8e85a4d'), 'user': 'Krish', 'title': 'Data Science', 'score': 95}

### Use of group

In [10]:
# Finding total unique user and total visibility
agg = mycol.aggregate([
    {
        "$group":
        {
            "_id": "$user",
            "num_avail": {"$sum": 1}
        }
    }
    
])

In [11]:
for x in agg:
    print(x)

{'_id': 'Amit', 'num_avail': 3}
{'_id': 'Krish', 'num_avail': 3}

In [12]:
# Finding total unique user and their total score
agg2 = mycol.aggregate([
    {
        "$group":
        {
            "_id": "$user",
            "total_score": {"$sum": "$score"}
        }
    }
])

In [13]:
for x in agg2:
    print(x)

{'_id': 'Amit', 'total_score': 235}
{'_id': 'Krish', 'total_score': 250}

In [14]:
# Finding total unique user and their average score

agg3 = mycol.aggregate([
    {
        "$group":
        {
            "_id": "$user",
            "average_score": {"$avg": "$score"}
        }
    }
])

In [15]:
for x in agg3:
    print(x)

{'_id': 'Amit', 'average_score': 78.33333333333333}
{'_id': 'Krish', 'average_score': 83.33333333333333}

# Use of avg, multiply

In [17]:
mycol2 = mydb['product_details']

In [18]:
# declare new data
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [20]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2020, 9, 20, 10, 47, 42, 375344)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2020, 9, 20, 10, 47, 42, 375347)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2020, 9, 20, 10, 47, 42, 375347)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2020, 9, 20, 10, 47, 42, 375348)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2020, 9, 20, 10, 47, 42, 375348)}]

In [19]:
mycol2.insert_many(data)

In [24]:
# Finding unique item, average price of the item and average quantity
agg4 = mycol2.aggregate([
    {
        "$group":
        {
            "_id": "$item",
            "average_price": {"$avg": {"$multiply": ["$price","$quantity"] }  },
            "average_quantity": {"$avg": "$quantity"}
        }
    }
])

In [25]:
for x in agg4:
    print(x)

{'_id': 'abc', 'average_price': 60.0, 'average_quantity': 6.0}
{'_id': 'xyz', 'average_price': 37.5, 'average_quantity': 7.5}
{'_id': 'jkl', 'average_price': 20.0, 'average_quantity': 1.0}

### Use of project

In [36]:
# new collection
mycol3 = mydb['grocery_product']

In [37]:
grocery_data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
},
{
  "_id" : 3,
  "title": "vegetable Goods",
  "isbn": "12698475",
  "author": { "last": "abh", "first": "aaa", "middle": "" },
  "copies": 2
},
{
  "_id" : 4,
  "title": "meat Goods",
  "isbn": "23435123632",
  "author": { "last": "ewe", "first": "jtyt", "middle": "" },
  "copies": 2
}
]

In [38]:
mycol3.insert_many(grocery_data)

In [39]:
for x in mycol3.find():
    print(x)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334', 'author': {'last': 'zzz', 'first': 'aaa'}, 'copies': 5}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999', 'author': {'last': 'xyz', 'first': 'abc', 'middle': ''}, 'copies': 2}
{'_id': 3, 'title': 'vegetable Goods', 'isbn': '12698475', 'author': {'last': 'abh', 'first': 'aaa', 'middle': ''}, 'copies': 2}
{'_id': 4, 'title': 'meat Goods', 'isbn': '23435123632', 'author': {'last': 'ewe', 'first': 'jtyt', 'middle': ''}, 'copies': 2}

In [43]:
# Use of $project
for x in mycol3.aggregate([{"$project": {"title":1, "copies":1}}]):
    print(x)

{'_id': 1, 'title': 'abc123', 'copies': 5}
{'_id': 2, 'title': 'Baked Goods', 'copies': 2}
{'_id': 3, 'title': 'vegetable Goods', 'copies': 2}
{'_id': 4, 'title': 'meat Goods', 'copies': 2}

### Use of add

In [12]:
mycol4 = mydb["sales"]

In [18]:
mycol4.insert_many([
{ "_id" : 1, "item" : "abc", "price" : 10, "fee" : 2, "date": "2014-03-01T08:00:00Z"},
{ "_id" : 2, "item" : "jkl", "price" : 20, "fee" : 1, "date": "2014-03-01T09:00:00Z"},
{ "_id" : 3, "item" : "xyz", "price" : 5,  "fee" : 0, "date": "2014-03-15T09:00:00Z"}
])

In [19]:
agg_sale = mycol4.aggregate([
    {
        "$project":
        {
            "item": 1,
            "total": {"$add": ["$price", "$fee"]}
        }
    }
])

In [20]:
for x in agg_sale:
    print(x)

{'_id': 1, 'item': 'abc', 'total': 12}
{'_id': 2, 'item': 'jkl', 'total': 21}
{'_id': 3, 'item': 'xyz', 'total': 5}

### Use of abs

In [22]:
mycol5 = mydb["rating"]

In [24]:
mycol5.insert_many([
    { "_id": 1, "start": 5, "end": 8 },
    { "_id": 2, "start": 4, "end": 4 },
    { "_id": 3, "start": 9, "end": 7 },
    { "_id": 4, "start": 6, "end": 7 }
])

In [26]:
agg_rating = mycol5.aggregate([
    {
        "$project":
        {
            "delta": {"$abs": {"$subtract": ["$start", "$end"]}}
        }
    }
])

In [28]:
for x in agg_rating:
    print(x)

{'_id': 1, 'delta': 3}
{'_id': 2, 'delta': 0}
{'_id': 3, 'delta': 2}
{'_id': 4, 'delta': 1}

### Use of addToSet

In [38]:
mycol6 = mydb["sale_info"]

In [39]:
mycol6.insert_many([
{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime(2014, 1, 1, 8, 0, 0) },
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime(2014, 2, 3, 9, 0, 0) },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime(2014, 2, 3, 9, 5, 0) },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime(2014, 2, 15, 8, 0, 0) },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" : datetime.datetime(2014, 2, 15, 9, 12, 0) }
])

In [40]:
agg_sale_info = mycol6.aggregate([
    {
        "$group":
        {
            "_id": {"day": {"$dayOfYear": "$date"}, "year": {"$year": "$date"}},
            "product": {"$addToSet": "$item"}
        }
    }
])

In [41]:
for x in agg_sale_info:
    print(x)

{'_id': {'day': 1, 'year': 2014}, 'product': ['abc']}
{'_id': {'day': 34, 'year': 2014}, 'product': ['xyz', 'jkl']}
{'_id': {'day': 46, 'year': 2014}, 'product': ['xyz', 'abc']}

### Use of and

In [43]:
mycol7 = mydb["inventory"]

In [46]:
mycol7.insert_many([
   { "_id" : 1, "item" : "abc1", "description": "product 1", "qty": 300 },
   { "_id" : 2, "item" : "abc2", "description": "product 2", "qty": 200 },
   { "_id" : 3, "item" : "xyz1", "description": "product 3", "qty": 250 },
   { "_id" : 4, "item" : "VWZ1", "description": "product 4", "qty": 300 },
   { "_id" : 5, "item" : "VWZ2", "description": "product 5", "qty": 180 }
])

In [67]:
agg_inverntory = mycol7.aggregate([
    {
        "$project":
        {
            "item": 1,
            "qty": 1,
            "fixed_sale": {"$and": [{"$gt": ["$qty", 100]}, {"$lt": ["$qty", 250]}]}
        }
    }
])

In [68]:
for x in agg_inverntory:
    print(x)

{'_id': 1, 'item': 'abc1', 'qty': 300, 'fixed_sale': False}
{'_id': 2, 'item': 'abc2', 'qty': 200, 'fixed_sale': True}
{'_id': 3, 'item': 'xyz1', 'qty': 250, 'fixed_sale': False}
{'_id': 4, 'item': 'VWZ1', 'qty': 300, 'fixed_sale': False}
{'_id': 5, 'item': 'VWZ2', 'qty': 180, 'fixed_sale': True}

In [73]:
agg_inventory2 = mycol7.aggregate([
    {
        "$project":
        {
            "item": 1,
            "qty": 1,
            "_id": 0,
            "fixed_sale": {"$and": [{"$gt": ["$qty", 100]}, {"$lt": ["$qty", 250]}]}
        }
    }
])

In [74]:
for x in agg_inventory2:
    print(x)

{'item': 'abc1', 'qty': 300, 'fixed_sale': False}
{'item': 'abc2', 'qty': 200, 'fixed_sale': True}
{'item': 'xyz1', 'qty': 250, 'fixed_sale': False}
{'item': 'VWZ1', 'qty': 300, 'fixed_sale': False}
{'item': 'VWZ2', 'qty': 180, 'fixed_sale': True}

In [93]:
a = mycol7.find({"qty": {"$gt": 200}})

In [94]:
for x in a:
    print(x)

{'_id': 1, 'item': 'abc1', 'description': 'product 1', 'qty': 300}
{'_id': 3, 'item': 'xyz1', 'description': 'product 3', 'qty': 250}
{'_id': 4, 'item': 'VWZ1', 'description': 'product 4', 'qty': 300}

### Use of allElementsTrue

In [3]:
mycol8 = mydb['survey']

In [6]:
mycol8.insert_many([
   { "_id" : 1, "responses" : [ 'true' ] },
   { "_id" : 2, "responses" : [ 'true', 'false' ] },
   { "_id" : 3, "responses" : [ ] },
   { "_id" : 4, "responses" : [ 1, 'true', "seven" ] },
   { "_id" : 5, "responses" : [ 0 ] },
   { "_id" : 6, "responses" : [ [ ] ] },
   { "_id" : 7, "responses" : [ [ 0 ] ] },
   { "_id" : 8, "responses" : [ [ 'false' ] ] },
   { "_id" : 9, "responses" : [ 'null' ] },
   { "_id" : 10, "responses" : [ 'undefined' ] }
])

In [8]:
agg_survey = mycol8.aggregate([
    {
        "$project":
        {
            'responses':1,
            'for_check': {"$allElementsTrue": '$responses'}, '_id': 0
        }
    }
])

In [9]:
for x in agg_survey:
    print(x)

{'responses': ['true'], 'for_check': True}
{'responses': ['true', 'false'], 'for_check': True}
{'responses': [], 'for_check': True}
{'responses': [1, 'true', 'seven'], 'for_check': True}
{'responses': [0], 'for_check': False}
{'responses': [[]], 'for_check': True}
{'responses': [[0]], 'for_check': True}
{'responses': [['false']], 'for_check': True}
{'responses': ['null'], 'for_check': True}
{'responses': ['undefined'], 'for_check': True}

### Use of anyElementsTrue

In [11]:
agg_survey2 = mycol8.aggregate([
    {
        "$project":
        {
            'responses':1,
            'for_check': {"$anyElementTrue": '$responses'}, '_id': 0
        }
    }
])

In [12]:
for x in agg_survey2:
    print(x)

{'responses': ['true'], 'for_check': True}
{'responses': ['true', 'false'], 'for_check': True}
{'responses': [], 'for_check': False}
{'responses': [1, 'true', 'seven'], 'for_check': True}
{'responses': [0], 'for_check': False}
{'responses': [[]], 'for_check': True}
{'responses': [[0]], 'for_check': True}
{'responses': [['false']], 'for_check': True}
{'responses': ['null'], 'for_check': True}
{'responses': ['undefined'], 'for_check': True}

### Use of arrayElemAt

In [18]:
mycol9 = mydb['users']

In [19]:
mycol9.insert_many([
{ "_id" : 1, "name" : "dave123", 'favorites': [ "chocolate", "cake", "butter", "apples" ] },
{ "_id" : 2, "name" : "li", 'favorites': [ "apples", "pudding", "pie" ] },
{ "_id" : 3, "name" : "ahn", 'favorites': [ "pears", "pecans", "chocolate", "cherries" ] },
{ "_id" : 4, "name" : "ty", 'favorites': [ "ice cream" ] }
])

In [21]:
user_agg = mycol9.aggregate([
    {
        "$project":
        {
            '_id':1,
            "name": 1,
            'first': {"$arrayElemAt": ['$favorites', 0]},
            'last': {"$arrayElemAt": ['$favorites', -1]}
        }
    }
])

In [22]:
for x in user_agg:
    print(x)

{'_id': 1, 'name': 'dave123', 'first': 'chocolate', 'last': 'apples'}
{'_id': 2, 'name': 'li', 'first': 'apples', 'last': 'pie'}
{'_id': 3, 'name': 'ahn', 'first': 'pears', 'last': 'cherries'}
{'_id': 4, 'name': 'ty', 'first': 'ice cream', 'last': 'ice cream'}

### Use of arrayToObject

In [23]:
mycol10 = mydb['invent']

In [25]:
mycol10.insert_many([
{ "_id" : 1, "item" : "ABC1",  'dimensions': [ { "k": "l", "v": 25} , { "k": "w", "v": 10 }, { "k": "uom", "v": "cm" } ] },
{ "_id" : 2, "item" : "ABC2",  'dimensions': [ [ "l", 50 ], [ "w",  25 ], [ "uom", "cm" ] ] },
{ "_id" : 3, "item" : "ABC3",  'dimensions': [ [ "l", 25 ], [ "l",  "cm" ], [ "l", 50 ] ] }
])

In [26]:
invent_agg = mycol10.aggregate([
    {
        "$project":
        {
            "item":1,
            'new_array': {"$arrayToObject": '$dimensions'}
        }
    }
])

In [27]:
for x in invent_agg:
    print(x)

{'_id': 1, 'item': 'ABC1', 'new_array': {'l': 25, 'w': 10, 'uom': 'cm'}}
{'_id': 2, 'item': 'ABC2', 'new_array': {'l': 50, 'w': 25, 'uom': 'cm'}}
{'_id': 3, 'item': 'ABC3', 'new_array': {'l': 50}}

### Use of avg

In [43]:
mycol_data_sale = mydb['sale']

In [44]:
mycol_data_sale.insert_many([
{ "_id": 123, "item" : "abc", "price" : 10, "quantity" : 2},
{ "_id": 234, "item" : "jkl", "price" : 20, "quantity" : 1},
{ "_id": 345, "item" : "xyz", "price" : 5, "quantity" : 5},
{ "_id": 456, "item" : "abc", "price" : 10, "quantity" : 10},
{ "_id": 567, "item" : "xyz", "price" : 5, "quantity" : 10}
])

In [47]:
sale_data = mycol_data_sale.aggregate([
    {
        "$group":
        {
            "_id": "$item",
            "total_price": {"$avg": {"$multiply": ['$price', '$quantity']}},
            "quantity_avg": {"$avg": "$quantity"}
        }
    }
])

In [48]:
for x in sale_data:
    print(x)

{'_id': 'jkl', 'total_price': 20.0, 'quantity_avg': 1.0}
{'_id': 'xyz', 'total_price': 37.5, 'quantity_avg': 7.5}
{'_id': 'abc', 'total_price': 60.0, 'quantity_avg': 6.0}

In [49]:
mycol11 = mydb['student']

In [50]:
mycol11.insert_many([
{ "_id": 1, "quizzes": [ 10, 6, 7 ], "labs": [ 5, 8 ], "final": 80, "midterm": 75 },
{ "_id": 2, "quizzes": [ 9, 10 ], "labs": [ 8, 8 ], "final": 95, "midterm": 80 },
{ "_id": 3, "quizzes": [ 4, 5, 5 ], "labs": [ 6, 5 ], "final": 78, "midterm": 70 }
])

In [51]:
mycol11_aggre = mycol11.aggregate([
    {
        "$project":
        {
            "avg_quiz":{"$avg": "$quizzes"}, "avg_lab":{"$avg": "$labs"}, "avg_final_mid":{"$avg": ["$final", "$midterm"]}
        }
    }
])

In [52]:
for x in mycol11_aggre:
    print(x)

{'_id': 1, 'avg_quiz': 7.666666666666667, 'avg_lab': 6.5, 'avg_final_mid': 77.5}
{'_id': 2, 'avg_quiz': 9.5, 'avg_lab': 8.0, 'avg_final_mid': 87.5}
{'_id': 3, 'avg_quiz': 4.666666666666667, 'avg_lab': 5.5, 'avg_final_mid': 74.0}