In [1]:
import pymongo 
from pymongo import MongoClient 

from datetime import datetime

In [102]:
client = MongoClient("mongodb://localhost:27017") 
print("List of collections are : ", client.list_database_names())

List of collections are :  ['admin', 'config', 'local']

In [103]:
# Creating new database 
db = client['first_database']


# Creating New collection in first_database 
col1 = db.create_collection('first_collection') 
col2 = db.create_collection('second_collection') 
col3 = db.create_collection("third_collection")

In [100]:
############ Dropping a database 
#client.drop_database('first_database') 

############ Dropping a collection
#db.drop_collection('third_collection')

############## Again Printing all database 
#client.list_database_names()

In [60]:
first_query = [
    {
        "_id": 1,
        "f_name": "Rana",
        "address": {"first_address": "North midland hospital london", "second_address": "Sachan Bazar, Jamaganj"},
        "mobile": 12345,
        "education": "MBBS"
    }, 
    {
        "_id": 2,
        "f_name": "Hasan",
        "address": {"first_address": "Sylhet", "second_address": "Sachan Bazar"},
        "mobile": 2345, 
        "education": "B.Sc in CSE"
    }, 
    {
        "_id": 3,
        "f_name": "Nadira", 
        "address": {"first_address": "Sunamganj", "second_address": "Sachna"}, 
        "mobile": 5678, 
        "education": "Honors in Economics"
    }, 
    {
        "_id": 4,
        "f_name": "Sharmin", 
        "address": {"first_address": "sachna bazar", 'second_address': "Sylhet"}, 
        "mobile": 890, 
        "education": "Honors in English"
    }
]


second_query = [
    {
        "_id": 1,
        "first_name": "john", 
        "last_name": "die", 
        'address': [{'home': "1367", 'road': 'link road', 'city': '10 city corporation', 'area': "shamimabad"}], 
        'mobile': 1234, 
        'pos': 'sachna bazar',
        'age': 40
    }, 
    {
        "_id": 2,
        "first_name": "trump", 
        "last_name": "donald", 
        'address': [{'home': "345", 'road': 'belton', 'city': 'newyork', 'area': "downtown"}], 
        'mobile': 246135, 
        'pos': 'midland',
        'age': 50
    }
]

In [61]:
# Inserting many query at a time 
col1.insert_many(first_query)

In [62]:
# printing all data in collection 1 
for x in col1.find(): 
    print(x)

{'_id': 1, 'f_name': 'Rana', 'address': {'first_address': 'North midland hospital london', 'second_address': 'Sachan Bazar, Jamaganj'}, 'mobile': 12345, 'education': 'MBBS'}
{'_id': 2, 'f_name': 'Hasan', 'address': {'first_address': 'Sylhet', 'second_address': 'Sachan Bazar'}, 'mobile': 2345, 'education': 'B.Sc in CSE'}
{'_id': 3, 'f_name': 'Nadira', 'address': {'first_address': 'Sunamganj', 'second_address': 'Sachna'}, 'mobile': 5678, 'education': 'Honors in Economics'}
{'_id': 4, 'f_name': 'Sharmin', 'address': {'first_address': 'sachna bazar', 'second_address': 'Sylhet'}, 'mobile': 890, 'education': 'Honors in English'}

# Use of of update_one()

In [63]:
# Chanign f_name of _id=3 
col1.update_one({"_id": 3}, {"$set": {"f_name": "Nadira Akter"}}) 
for x in col1.find(): 
    print(x)

{'_id': 1, 'f_name': 'Rana', 'address': {'first_address': 'North midland hospital london', 'second_address': 'Sachan Bazar, Jamaganj'}, 'mobile': 12345, 'education': 'MBBS'}
{'_id': 2, 'f_name': 'Hasan', 'address': {'first_address': 'Sylhet', 'second_address': 'Sachan Bazar'}, 'mobile': 2345, 'education': 'B.Sc in CSE'}
{'_id': 3, 'f_name': 'Nadira Akter', 'address': {'first_address': 'Sunamganj', 'second_address': 'Sachna'}, 'mobile': 5678, 'education': 'Honors in Economics'}
{'_id': 4, 'f_name': 'Sharmin', 'address': {'first_address': 'sachna bazar', 'second_address': 'Sylhet'}, 'mobile': 890, 'education': 'Honors in English'}

In [64]:
col1.update_one({"_id": 3}, {"$set": {'address.first_address': "Sunamganj District"}})

for x in col1.find(): 
    print(x)

{'_id': 1, 'f_name': 'Rana', 'address': {'first_address': 'North midland hospital london', 'second_address': 'Sachan Bazar, Jamaganj'}, 'mobile': 12345, 'education': 'MBBS'}
{'_id': 2, 'f_name': 'Hasan', 'address': {'first_address': 'Sylhet', 'second_address': 'Sachan Bazar'}, 'mobile': 2345, 'education': 'B.Sc in CSE'}
{'_id': 3, 'f_name': 'Nadira Akter', 'address': {'first_address': 'Sunamganj District', 'second_address': 'Sachna'}, 'mobile': 5678, 'education': 'Honors in Economics'}
{'_id': 4, 'f_name': 'Sharmin', 'address': {'first_address': 'sachna bazar', 'second_address': 'Sylhet'}, 'mobile': 890, 'education': 'Honors in English'}

# Use of update_many()

In [65]:
col1.update_many(
    {'_id': {"$lt": 3}}, 
    {"$set": {"address.first_address": "sachna bazar, jamalganj, sunamganj, sylhet"},
    "$currentDate": {"date": True}}  
)

for x in col1.find(): 
    print(x)

{'_id': 1, 'f_name': 'Rana', 'address': {'first_address': 'sachna bazar, jamalganj, sunamganj, sylhet', 'second_address': 'Sachan Bazar, Jamaganj'}, 'mobile': 12345, 'education': 'MBBS', 'date': datetime.datetime(2021, 10, 10, 5, 55, 13, 609000)}
{'_id': 2, 'f_name': 'Hasan', 'address': {'first_address': 'sachna bazar, jamalganj, sunamganj, sylhet', 'second_address': 'Sachan Bazar'}, 'mobile': 2345, 'education': 'B.Sc in CSE', 'date': datetime.datetime(2021, 10, 10, 5, 55, 13, 609000)}
{'_id': 3, 'f_name': 'Nadira Akter', 'address': {'first_address': 'Sunamganj District', 'second_address': 'Sachna'}, 'mobile': 5678, 'education': 'Honors in Economics'}
{'_id': 4, 'f_name': 'Sharmin', 'address': {'first_address': 'sachna bazar', 'second_address': 'Sylhet'}, 'mobile': 890, 'education': 'Honors in English'}

# Inserting a new dictionary

In [66]:
col1.insert_one({"_id": 5, "f_name": "Tamim", 'address':{"first_address": "sachna", 'second_address': "sylhet"} })

for x in col1.find(): 
    print(x)

{'_id': 1, 'f_name': 'Rana', 'address': {'first_address': 'sachna bazar, jamalganj, sunamganj, sylhet', 'second_address': 'Sachan Bazar, Jamaganj'}, 'mobile': 12345, 'education': 'MBBS', 'date': datetime.datetime(2021, 10, 10, 5, 55, 13, 609000)}
{'_id': 2, 'f_name': 'Hasan', 'address': {'first_address': 'sachna bazar, jamalganj, sunamganj, sylhet', 'second_address': 'Sachan Bazar'}, 'mobile': 2345, 'education': 'B.Sc in CSE', 'date': datetime.datetime(2021, 10, 10, 5, 55, 13, 609000)}
{'_id': 3, 'f_name': 'Nadira Akter', 'address': {'first_address': 'Sunamganj District', 'second_address': 'Sachna'}, 'mobile': 5678, 'education': 'Honors in Economics'}
{'_id': 4, 'f_name': 'Sharmin', 'address': {'first_address': 'sachna bazar', 'second_address': 'Sylhet'}, 'mobile': 890, 'education': 'Honors in English'}
{'_id': 5, 'f_name': 'Tamim', 'address': {'first_address': 'sachna', 'second_address': 'sylhet'}}

# Use of replace_one

In [67]:
col1.replace_one(
    {"_id": 5}, 
    {"_id": 5, 'address': [{'first_address': 'bazar sachna', 'second_address': 'no second address'}, {'third_address': 'jamalganj', 'fourth_address': 'sylhet'}] }
)

for x in col1.find():
    print(x)

{'_id': 1, 'f_name': 'Rana', 'address': {'first_address': 'sachna bazar, jamalganj, sunamganj, sylhet', 'second_address': 'Sachan Bazar, Jamaganj'}, 'mobile': 12345, 'education': 'MBBS', 'date': datetime.datetime(2021, 10, 10, 5, 55, 13, 609000)}
{'_id': 2, 'f_name': 'Hasan', 'address': {'first_address': 'sachna bazar, jamalganj, sunamganj, sylhet', 'second_address': 'Sachan Bazar'}, 'mobile': 2345, 'education': 'B.Sc in CSE', 'date': datetime.datetime(2021, 10, 10, 5, 55, 13, 609000)}
{'_id': 3, 'f_name': 'Nadira Akter', 'address': {'first_address': 'Sunamganj District', 'second_address': 'Sachna'}, 'mobile': 5678, 'education': 'Honors in Economics'}
{'_id': 4, 'f_name': 'Sharmin', 'address': {'first_address': 'sachna bazar', 'second_address': 'Sylhet'}, 'mobile': 890, 'education': 'Honors in English'}
{'_id': 5, 'address': [{'first_address': 'bazar sachna', 'second_address': 'no second address'}, {'third_address': 'jamalganj', 'fourth_address': 'sylhet'}]}

In [68]:
for x in col1.find({'_id': 5}):
    print(x)

{'_id': 5, 'address': [{'first_address': 'bazar sachna', 'second_address': 'no second address'}, {'third_address': 'jamalganj', 'fourth_address': 'sylhet'}]}

In [69]:
col1.find_one()

{'_id': 1,
 'f_name': 'Rana',
 'address': {'first_address': 'sachna bazar, jamalganj, sunamganj, sylhet',
  'second_address': 'Sachan Bazar, Jamaganj'},
 'mobile': 12345,
 'education': 'MBBS',
 'date': datetime.datetime(2021, 10, 10, 5, 55, 13, 609000)}

In [70]:
col1.find_one({'_id': 4})

{'_id': 4,
 'f_name': 'Sharmin',
 'address': {'first_address': 'sachna bazar', 'second_address': 'Sylhet'},
 'mobile': 890,
 'education': 'Honors in English'}

In [71]:
for x in col1.find({'mobile': {"$in": [890]}}): 
    print(x)

{'_id': 4, 'f_name': 'Sharmin', 'address': {'first_address': 'sachna bazar', 'second_address': 'Sylhet'}, 'mobile': 890, 'education': 'Honors in English'}

In [72]:
for x in col1.find({'$or': [{'f_name': 'Rana'}, {'f_name':"hasan" } ]}): 
    print(x)

{'_id': 1, 'f_name': 'Rana', 'address': {'first_address': 'sachna bazar, jamalganj, sunamganj, sylhet', 'second_address': 'Sachan Bazar, Jamaganj'}, 'mobile': 12345, 'education': 'MBBS', 'date': datetime.datetime(2021, 10, 10, 5, 55, 13, 609000)}

In [73]:
#db.drop_collection("second_collection")

# Inserting Second Query into col2

In [74]:
col2.insert_many(second_query)

for x in col2.find(): 
    print(x)

{'_id': 1, 'first_name': 'john', 'last_name': 'die', 'address': [{'home': '1367', 'road': 'link road', 'city': '10 city corporation', 'area': 'shamimabad'}], 'mobile': 1234, 'pos': 'sachna bazar', 'age': 40}
{'_id': 2, 'first_name': 'trump', 'last_name': 'donald', 'address': [{'home': '345', 'road': 'belton', 'city': 'newyork', 'area': 'downtown'}], 'mobile': 246135, 'pos': 'midland', 'age': 50}

# Use of inc

In [75]:
# increasing number 
col2.update_one({'_id': 2}, {"$inc": {'age': 5}})

for x in col2.find(): 
    print(x)

{'_id': 1, 'first_name': 'john', 'last_name': 'die', 'address': [{'home': '1367', 'road': 'link road', 'city': '10 city corporation', 'area': 'shamimabad'}], 'mobile': 1234, 'pos': 'sachna bazar', 'age': 40}
{'_id': 2, 'first_name': 'trump', 'last_name': 'donald', 'address': [{'home': '345', 'road': 'belton', 'city': 'newyork', 'area': 'downtown'}], 'mobile': 246135, 'pos': 'midland', 'age': 55}

# Use of unset

In [76]:
# Removing a data from a dictionary 
col2.update_one({"_id": 2}, {"$unset": {'age': 1}})

for x in col2.find(): 
    print(x)

{'_id': 1, 'first_name': 'john', 'last_name': 'die', 'address': [{'home': '1367', 'road': 'link road', 'city': '10 city corporation', 'area': 'shamimabad'}], 'mobile': 1234, 'pos': 'sachna bazar', 'age': 40}
{'_id': 2, 'first_name': 'trump', 'last_name': 'donald', 'address': [{'home': '345', 'road': 'belton', 'city': 'newyork', 'area': 'downtown'}], 'mobile': 246135, 'pos': 'midland'}

# Use of upsert

In [77]:
col2.update_one({"_id": 3}, {"$set": {"f_name": "Nomi", "l_name": "Moni"}}, {"$upsert": True})

for x in col2.find(): 
    print(x)

TypeError: upsert must be True or False

# Use of rename

In [78]:
col2.update_one({"_id": 2}, {"$rename": {"last_name": "l_name"}})

for x in col2.find():
    print(x)

{'_id': 1, 'first_name': 'john', 'last_name': 'die', 'address': [{'home': '1367', 'road': 'link road', 'city': '10 city corporation', 'area': 'shamimabad'}], 'mobile': 1234, 'pos': 'sachna bazar', 'age': 40}
{'_id': 2, 'first_name': 'trump', 'address': [{'home': '345', 'road': 'belton', 'city': 'newyork', 'area': 'downtown'}], 'mobile': 246135, 'pos': 'midland', 'l_name': 'donald'}

In [79]:

for x in col1.find():
    print(x)

{'_id': 1, 'f_name': 'Rana', 'address': {'first_address': 'sachna bazar, jamalganj, sunamganj, sylhet', 'second_address': 'Sachan Bazar, Jamaganj'}, 'mobile': 12345, 'education': 'MBBS', 'date': datetime.datetime(2021, 10, 10, 5, 55, 13, 609000)}
{'_id': 2, 'f_name': 'Hasan', 'address': {'first_address': 'sachna bazar, jamalganj, sunamganj, sylhet', 'second_address': 'Sachan Bazar'}, 'mobile': 2345, 'education': 'B.Sc in CSE', 'date': datetime.datetime(2021, 10, 10, 5, 55, 13, 609000)}
{'_id': 3, 'f_name': 'Nadira Akter', 'address': {'first_address': 'Sunamganj District', 'second_address': 'Sachna'}, 'mobile': 5678, 'education': 'Honors in Economics'}
{'_id': 4, 'f_name': 'Sharmin', 'address': {'first_address': 'sachna bazar', 'second_address': 'Sylhet'}, 'mobile': 890, 'education': 'Honors in English'}
{'_id': 5, 'address': [{'first_address': 'bazar sachna', 'second_address': 'no second address'}, {'third_address': 'jamalganj', 'fourth_address': 'sylhet'}]}

# use of remove

In [80]:
col1.remove({"_id": 5})
for x in col1.find():
    print(x)

{'_id': 1, 'f_name': 'Rana', 'address': {'first_address': 'sachna bazar, jamalganj, sunamganj, sylhet', 'second_address': 'Sachan Bazar, Jamaganj'}, 'mobile': 12345, 'education': 'MBBS', 'date': datetime.datetime(2021, 10, 10, 5, 55, 13, 609000)}
{'_id': 2, 'f_name': 'Hasan', 'address': {'first_address': 'sachna bazar, jamalganj, sunamganj, sylhet', 'second_address': 'Sachan Bazar'}, 'mobile': 2345, 'education': 'B.Sc in CSE', 'date': datetime.datetime(2021, 10, 10, 5, 55, 13, 609000)}
{'_id': 3, 'f_name': 'Nadira Akter', 'address': {'first_address': 'Sunamganj District', 'second_address': 'Sachna'}, 'mobile': 5678, 'education': 'Honors in Economics'}
{'_id': 4, 'f_name': 'Sharmin', 'address': {'first_address': 'sachna bazar', 'second_address': 'Sylhet'}, 'mobile': 890, 'education': 'Honors in English'}

<ipython-input-80-466284de57d4>:1: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  col1.remove({"_id": 5})

# Use of delete_one

In [81]:
col1.delete_one({"_id": 4})
for x in col1.find(): 
    print(x)

{'_id': 1, 'f_name': 'Rana', 'address': {'first_address': 'sachna bazar, jamalganj, sunamganj, sylhet', 'second_address': 'Sachan Bazar, Jamaganj'}, 'mobile': 12345, 'education': 'MBBS', 'date': datetime.datetime(2021, 10, 10, 5, 55, 13, 609000)}
{'_id': 2, 'f_name': 'Hasan', 'address': {'first_address': 'sachna bazar, jamalganj, sunamganj, sylhet', 'second_address': 'Sachan Bazar'}, 'mobile': 2345, 'education': 'B.Sc in CSE', 'date': datetime.datetime(2021, 10, 10, 5, 55, 13, 609000)}
{'_id': 3, 'f_name': 'Nadira Akter', 'address': {'first_address': 'Sunamganj District', 'second_address': 'Sachna'}, 'mobile': 5678, 'education': 'Honors in Economics'}

# use of delete_many

In [82]:
q = {"_id": 2, "_id": 3}
col1.delete_many(q)
for x in col1.find(): 
    print(x)

{'_id': 1, 'f_name': 'Rana', 'address': {'first_address': 'sachna bazar, jamalganj, sunamganj, sylhet', 'second_address': 'Sachan Bazar, Jamaganj'}, 'mobile': 12345, 'education': 'MBBS', 'date': datetime.datetime(2021, 10, 10, 5, 55, 13, 609000)}
{'_id': 2, 'f_name': 'Hasan', 'address': {'first_address': 'sachna bazar, jamalganj, sunamganj, sylhet', 'second_address': 'Sachan Bazar'}, 'mobile': 2345, 'education': 'B.Sc in CSE', 'date': datetime.datetime(2021, 10, 10, 5, 55, 13, 609000)}

In [83]:
for x in col2.find(): 
    print(x)

{'_id': 1, 'first_name': 'john', 'last_name': 'die', 'address': [{'home': '1367', 'road': 'link road', 'city': '10 city corporation', 'area': 'shamimabad'}], 'mobile': 1234, 'pos': 'sachna bazar', 'age': 40}
{'_id': 2, 'first_name': 'trump', 'address': [{'home': '345', 'road': 'belton', 'city': 'newyork', 'area': 'downtown'}], 'mobile': 246135, 'pos': 'midland', 'l_name': 'donald'}

In [84]:
for x in col1.find({"address.first_address": "sachna bazar, jamalganj, sunamganj, sylhet"}):
    print(x)

{'_id': 1, 'f_name': 'Rana', 'address': {'first_address': 'sachna bazar, jamalganj, sunamganj, sylhet', 'second_address': 'Sachan Bazar, Jamaganj'}, 'mobile': 12345, 'education': 'MBBS', 'date': datetime.datetime(2021, 10, 10, 5, 55, 13, 609000)}
{'_id': 2, 'f_name': 'Hasan', 'address': {'first_address': 'sachna bazar, jamalganj, sunamganj, sylhet', 'second_address': 'Sachan Bazar'}, 'mobile': 2345, 'education': 'B.Sc in CSE', 'date': datetime.datetime(2021, 10, 10, 5, 55, 13, 609000)}

In [85]:
col2.insert_one({"_id": 3, "f_name": "nadira", "address": {'city': 'sunamganj', 'state': "sylhet", 'country': 'bangladesh'}, 'membership': ['mem1', 'mem2', 'mem3']})

for x in col2.find(): 
    print(x)

{'_id': 1, 'first_name': 'john', 'last_name': 'die', 'address': [{'home': '1367', 'road': 'link road', 'city': '10 city corporation', 'area': 'shamimabad'}], 'mobile': 1234, 'pos': 'sachna bazar', 'age': 40}
{'_id': 2, 'first_name': 'trump', 'address': [{'home': '345', 'road': 'belton', 'city': 'newyork', 'area': 'downtown'}], 'mobile': 246135, 'pos': 'midland', 'l_name': 'donald'}
{'_id': 3, 'f_name': 'nadira', 'address': {'city': 'sunamganj', 'state': 'sylhet', 'country': 'bangladesh'}, 'membership': ['mem1', 'mem2', 'mem3']}

In [86]:
for x in col2.find({"membership": "mem1"}): 
    print(x)

{'_id': 3, 'f_name': 'nadira', 'address': {'city': 'sunamganj', 'state': 'sylhet', 'country': 'bangladesh'}, 'membership': ['mem1', 'mem2', 'mem3']}

In [87]:
col2.update_one({"_id": 3}, {"$rename": {"f_name": "first_name"}})

for x in col2.find(): 
    print(x)

{'_id': 1, 'first_name': 'john', 'last_name': 'die', 'address': [{'home': '1367', 'road': 'link road', 'city': '10 city corporation', 'area': 'shamimabad'}], 'mobile': 1234, 'pos': 'sachna bazar', 'age': 40}
{'_id': 2, 'first_name': 'trump', 'address': [{'home': '345', 'road': 'belton', 'city': 'newyork', 'area': 'downtown'}], 'mobile': 246135, 'pos': 'midland', 'l_name': 'donald'}
{'_id': 3, 'address': {'city': 'sunamganj', 'state': 'sylhet', 'country': 'bangladesh'}, 'membership': ['mem1', 'mem2', 'mem3'], 'first_name': 'nadira'}

# sorting using sort

In [88]:
a = col2.find().sort("first_name")
for x in a:
    print(x)

{'_id': 1, 'first_name': 'john', 'last_name': 'die', 'address': [{'home': '1367', 'road': 'link road', 'city': '10 city corporation', 'area': 'shamimabad'}], 'mobile': 1234, 'pos': 'sachna bazar', 'age': 40}
{'_id': 3, 'address': {'city': 'sunamganj', 'state': 'sylhet', 'country': 'bangladesh'}, 'membership': ['mem1', 'mem2', 'mem3'], 'first_name': 'nadira'}
{'_id': 2, 'first_name': 'trump', 'address': [{'home': '345', 'road': 'belton', 'city': 'newyork', 'area': 'downtown'}], 'mobile': 246135, 'pos': 'midland', 'l_name': 'donald'}

# sorting in descending order

In [89]:
a = col2.find().sort("first_name", -1)
for x in a:
    print(x)

{'_id': 2, 'first_name': 'trump', 'address': [{'home': '345', 'road': 'belton', 'city': 'newyork', 'area': 'downtown'}], 'mobile': 246135, 'pos': 'midland', 'l_name': 'donald'}
{'_id': 3, 'address': {'city': 'sunamganj', 'state': 'sylhet', 'country': 'bangladesh'}, 'membership': ['mem1', 'mem2', 'mem3'], 'first_name': 'nadira'}
{'_id': 1, 'first_name': 'john', 'last_name': 'die', 'address': [{'home': '1367', 'road': 'link road', 'city': '10 city corporation', 'area': 'shamimabad'}], 'mobile': 1234, 'pos': 'sachna bazar', 'age': 40}

# use of count

In [90]:
print(col2.find().count())

3

<ipython-input-90-fa73899ae5b2>:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  print(col2.find().count())

# use of count_documents

In [91]:
total_count = col2.count_documents({}) 
print("Total number of documents are :", total_count)

Total number of documents are : 3

In [92]:
total_count = col2.count_documents({'pos': 'sachna bazar'})
print("Total number of documents are :", total_count)

Total number of documents are : 1

# Use of limit

In [93]:
total_number = col2.find().limit(2)
for x in total_number:
    print(x)

{'_id': 1, 'first_name': 'john', 'last_name': 'die', 'address': [{'home': '1367', 'road': 'link road', 'city': '10 city corporation', 'area': 'shamimabad'}], 'mobile': 1234, 'pos': 'sachna bazar', 'age': 40}
{'_id': 2, 'first_name': 'trump', 'address': [{'home': '345', 'road': 'belton', 'city': 'newyork', 'area': 'downtown'}], 'mobile': 246135, 'pos': 'midland', 'l_name': 'donald'}

# Use of sort() limit()

In [94]:
total_number_limit_sort = col2.find().sort('first_name').limit(2)
for x in total_number_limit_sort: 
    print(x)

{'_id': 1, 'first_name': 'john', 'last_name': 'die', 'address': [{'home': '1367', 'road': 'link road', 'city': '10 city corporation', 'area': 'shamimabad'}], 'mobile': 1234, 'pos': 'sachna bazar', 'age': 40}
{'_id': 3, 'address': {'city': 'sunamganj', 'state': 'sylhet', 'country': 'bangladesh'}, 'membership': ['mem1', 'mem2', 'mem3'], 'first_name': 'nadira'}

In [104]:
third_query = {
    '_id': 1,
    'title': "Post one", 
    'body': 'Body of post one',
    'category': 'News', 
    'likes': 4, 
    'tags': ['news', 'events'], 
    'user': {
        'name': "John Doe", 
        'status': 'author'
    },  
    'date': str(datetime.date(datetime.now())),
    'time': str(datetime.time(datetime.now()))
}

fourth_query = [
    {
        "_id": 2, 
        "title": "Post Two", 
        'body': "Body of post two", 
        'category': "Technology", 
        'date': str(datetime.date(datetime.now()))
    }, 
    {
        "_id": 3, 
        "title": "Post three", 
        "body": "Body of post three", 
        "category": "News", 
        "date": str(datetime.date(datetime.now()))
    }, 
    {
        "_id": 4, 
        "title": "Post four", 
        "body": "Body of four", 
        "category": "Entertainment", 
        "date": str(datetime.date(datetime.now())) 
    }
]

In [105]:
col3.insert_one(third_query)

for x in col3.find(): 
    print(x)

{'_id': 1, 'title': 'Post one', 'body': 'Body of post one', 'category': 'News', 'likes': 4, 'tags': ['news', 'events'], 'user': {'name': 'John Doe', 'status': 'author'}, 'date': '2021-10-10', 'time': '12:08:44.827112'}

In [106]:
col3.insert_many(fourth_query)

for x in col3.find(): 
    print(x)

{'_id': 1, 'title': 'Post one', 'body': 'Body of post one', 'category': 'News', 'likes': 4, 'tags': ['news', 'events'], 'user': {'name': 'John Doe', 'status': 'author'}, 'date': '2021-10-10', 'time': '12:08:44.827112'}
{'_id': 2, 'title': 'Post Two', 'body': 'Body of post two', 'category': 'Technology', 'date': '2021-10-10'}
{'_id': 3, 'title': 'Post three', 'body': 'Body of post three', 'category': 'News', 'date': '2021-10-10'}
{'_id': 4, 'title': 'Post four', 'body': 'Body of four', 'category': 'Entertainment', 'date': '2021-10-10'}

In [107]:
sorted_data = col3.find().sort("body")

for x in sorted_data: 
    print(x)

{'_id': 4, 'title': 'Post four', 'body': 'Body of four', 'category': 'Entertainment', 'date': '2021-10-10'}
{'_id': 1, 'title': 'Post one', 'body': 'Body of post one', 'category': 'News', 'likes': 4, 'tags': ['news', 'events'], 'user': {'name': 'John Doe', 'status': 'author'}, 'date': '2021-10-10', 'time': '12:08:44.827112'}
{'_id': 3, 'title': 'Post three', 'body': 'Body of post three', 'category': 'News', 'date': '2021-10-10'}
{'_id': 2, 'title': 'Post Two', 'body': 'Body of post two', 'category': 'Technology', 'date': '2021-10-10'}

# Count Rows

In [108]:
count_data = col3.find().count()
count_data

<ipython-input-108-dd71e9fcf530>:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  count_data = col3.find().count()

4

In [110]:
col3.count_documents({})

4

# Limit Rows

In [112]:
limit_rows = col3.find().limit(3)
for x in limit_rows: 
    print(x)

{'_id': 1, 'title': 'Post one', 'body': 'Body of post one', 'category': 'News', 'likes': 4, 'tags': ['news', 'events'], 'user': {'name': 'John Doe', 'status': 'author'}, 'date': '2021-10-10', 'time': '12:08:44.827112'}
{'_id': 2, 'title': 'Post Two', 'body': 'Body of post two', 'category': 'Technology', 'date': '2021-10-10'}
{'_id': 3, 'title': 'Post three', 'body': 'Body of post three', 'category': 'News', 'date': '2021-10-10'}

# sorting and limit rows

In [113]:
limit_sort_rows = col3.find().sort('body').limit(3)
for x in limit_sort_rows:
    print(x)

{'_id': 4, 'title': 'Post four', 'body': 'Body of four', 'category': 'Entertainment', 'date': '2021-10-10'}
{'_id': 1, 'title': 'Post one', 'body': 'Body of post one', 'category': 'News', 'likes': 4, 'tags': ['news', 'events'], 'user': {'name': 'John Doe', 'status': 'author'}, 'date': '2021-10-10', 'time': '12:08:44.827112'}
{'_id': 3, 'title': 'Post three', 'body': 'Body of post three', 'category': 'News', 'date': '2021-10-10'}

# sorting and limit rows descending order

In [114]:
limit_sort_rows_2 = col3.find().sort('body', -1).limit(3)

for x in limit_sort_rows_2: 
    print(x)

{'_id': 2, 'title': 'Post Two', 'body': 'Body of post two', 'category': 'Technology', 'date': '2021-10-10'}
{'_id': 3, 'title': 'Post three', 'body': 'Body of post three', 'category': 'News', 'date': '2021-10-10'}
{'_id': 1, 'title': 'Post one', 'body': 'Body of post one', 'category': 'News', 'likes': 4, 'tags': ['news', 'events'], 'user': {'name': 'John Doe', 'status': 'author'}, 'date': '2021-10-10', 'time': '12:08:44.827112'}

# Use of forEach

In [115]:
import bson
self.request.db.col3.find().forEach(bson.Code( '''
    function(u) { 
       u.forSong = self.request.db.col3.find_one({}, {'_id': 1})
       self.request.db.save(u)
     }'''))

NameError: name 'self' is not defined

# Find One Row

In [117]:
for x in col3.find({"_id": 3}): 
    print(x)

{'_id': 3, 'title': 'Post three', 'body': 'Body of post three', 'category': 'News', 'date': '2021-10-10'}

In [119]:
for x in col3.find({"title": "Post three"}, {"body": "Body of post three"}):
    print(x)

{'_id': 3, 'body': 'Body of post three'}

# Use of upsert in replace_one

In [122]:
col3.replace_one(
    {
        "title": "Post five", 
    },
    {
        "_id": 5,
        "title": "Post five", 
        "body": "Body of the post five", 
        "category": ['Sports', 'international', 'politics', 'entertainment'], 
        'date': str(datetime.date(datetime.now())), 
        'time': str(datetime.time(datetime.now()))
    }, 
    upsert=True
)

for x in col3.find():
    print(x)

{'_id': 1, 'title': 'Post one', 'body': 'Body of post one', 'category': 'News', 'likes': 4, 'tags': ['news', 'events'], 'user': {'name': 'John Doe', 'status': 'author'}, 'date': '2021-10-10', 'time': '12:08:44.827112'}
{'_id': 2, 'title': 'Post Two', 'body': 'Body of post two', 'category': 'Technology', 'date': '2021-10-10'}
{'_id': 3, 'title': 'Post three', 'body': 'Body of post three', 'category': 'News', 'date': '2021-10-10'}
{'_id': 4, 'title': 'Post four', 'body': 'Body of four', 'category': 'Entertainment', 'date': '2021-10-10'}
{'_id': 5, 'title': 'Post five', 'body': 'Body of the post five', 'category': ['Sports', 'international', 'politics', 'entertainment'], 'date': '2021-10-10', 'time': '13:09:48.308611'}

# Use of set

In [123]:
for x in col3.find():
    print(x)

{'_id': 1, 'title': 'Post one', 'body': 'Body of post one', 'category': 'News', 'likes': 4, 'tags': ['news', 'events'], 'user': {'name': 'John Doe', 'status': 'author'}, 'date': '2021-10-10', 'time': '12:08:44.827112'}
{'_id': 2, 'title': 'Post Two', 'body': 'Body of post two', 'category': 'Technology', 'date': '2021-10-10'}
{'_id': 3, 'title': 'Post three', 'body': 'Body of post three', 'category': 'News', 'date': '2021-10-10'}
{'_id': 4, 'title': 'Post four', 'body': 'Body of four', 'category': 'Entertainment', 'date': '2021-10-10'}
{'_id': 5, 'title': 'Post five', 'body': 'Body of the post five', 'category': ['Sports', 'international', 'politics', 'entertainment'], 'date': '2021-10-10', 'time': '13:09:48.308611'}

In [125]:
col3.update_one({"_id": 2}, 
         {"$set": {"comment": [{'body': "comment one", 'user': "Mary William", 'date': str(datetime.date(datetime.now()))},
                               {"body": "comment two", 'user': "Harry White", 'date': str(datetime.date(datetime.now()))}
                              ]}}
         )

for x in col3.find():
    print(x)

{'_id': 1, 'title': 'Post one', 'body': 'Body of post one', 'category': 'News', 'likes': 4, 'tags': ['news', 'events'], 'user': {'name': 'John Doe', 'status': 'author'}, 'date': '2021-10-10', 'time': '12:08:44.827112'}
{'_id': 2, 'title': 'Post Two', 'body': 'Body of post two', 'category': 'Technology', 'date': '2021-10-10', 'comment': [{'body': 'comment one', 'user': 'Mary William', 'date': '2021-10-10'}, {'body': 'comment two', 'user': 'Harry White', 'date': '2021-10-10'}]}
{'_id': 3, 'title': 'Post three', 'body': 'Body of post three', 'category': 'News', 'date': '2021-10-10'}
{'_id': 4, 'title': 'Post four', 'body': 'Body of four', 'category': 'Entertainment', 'date': '2021-10-10'}
{'_id': 5, 'title': 'Post five', 'body': 'Body of the post five', 'category': ['Sports', 'international', 'politics', 'entertainment'], 'date': '2021-10-10', 'time': '13:09:48.308611'}

# Use of elemMatch

In [126]:
for x in col3.find({"comment": {"$elemMatch":{"user": "Mary William"}}}):
    print(x)

{'_id': 2, 'title': 'Post Two', 'body': 'Body of post two', 'category': 'Technology', 'date': '2021-10-10', 'comment': [{'body': 'comment one', 'user': 'Mary William', 'date': '2021-10-10'}, {'body': 'comment two', 'user': 'Harry White', 'date': '2021-10-10'}]}

# Use of inc

In [127]:
col3.replace_one(
    {
        "_id": 6, 
    },
    {
        "_id": 6,
        "title": "Post six", 
        "body": "Body of the post five", 
        "category": ['Sports', 'international', 'politics', 'entertainment'], 
        'number_comment': [12, 45, 67, 89],
        'id_number': 123,
        'date': str(datetime.date(datetime.now())), 
        'time': str(datetime.time(datetime.now()))
    }, 
    upsert=True
)

for x in col3.find():
    print(x)

{'_id': 1, 'title': 'Post one', 'body': 'Body of post one', 'category': 'News', 'likes': 4, 'tags': ['news', 'events'], 'user': {'name': 'John Doe', 'status': 'author'}, 'date': '2021-10-10', 'time': '12:08:44.827112'}
{'_id': 2, 'title': 'Post Two', 'body': 'Body of post two', 'category': 'Technology', 'date': '2021-10-10', 'comment': [{'body': 'comment one', 'user': 'Mary William', 'date': '2021-10-10'}, {'body': 'comment two', 'user': 'Harry White', 'date': '2021-10-10'}]}
{'_id': 3, 'title': 'Post three', 'body': 'Body of post three', 'category': 'News', 'date': '2021-10-10'}
{'_id': 4, 'title': 'Post four', 'body': 'Body of four', 'category': 'Entertainment', 'date': '2021-10-10'}
{'_id': 5, 'title': 'Post five', 'body': 'Body of the post five', 'category': ['Sports', 'international', 'politics', 'entertainment'], 'date': '2021-10-10', 'time': '13:09:48.308611'}
{'_id': 6, 'title': 'Post six', 'body': 'Body of the post five', 'category': ['Sports', 'international', 'politics', 'entertainment'], 'number_comment': [12, 45, 67, 89], 'id_number': 123, 'date': '2021-10-10', 'time': '13:56:56.505089'}

In [128]:
col3.update_one({"_id": 6}, {"$inc": {"id_number": 5}})

for x in col3.find(): 
    print(x)

{'_id': 1, 'title': 'Post one', 'body': 'Body of post one', 'category': 'News', 'likes': 4, 'tags': ['news', 'events'], 'user': {'name': 'John Doe', 'status': 'author'}, 'date': '2021-10-10', 'time': '12:08:44.827112'}
{'_id': 2, 'title': 'Post Two', 'body': 'Body of post two', 'category': 'Technology', 'date': '2021-10-10', 'comment': [{'body': 'comment one', 'user': 'Mary William', 'date': '2021-10-10'}, {'body': 'comment two', 'user': 'Harry White', 'date': '2021-10-10'}]}
{'_id': 3, 'title': 'Post three', 'body': 'Body of post three', 'category': 'News', 'date': '2021-10-10'}
{'_id': 4, 'title': 'Post four', 'body': 'Body of four', 'category': 'Entertainment', 'date': '2021-10-10'}
{'_id': 5, 'title': 'Post five', 'body': 'Body of the post five', 'category': ['Sports', 'international', 'politics', 'entertainment'], 'date': '2021-10-10', 'time': '13:09:48.308611'}
{'_id': 6, 'title': 'Post six', 'body': 'Body of the post five', 'category': ['Sports', 'international', 'politics', 'entertainment'], 'number_comment': [12, 45, 67, 89], 'id_number': 128, 'date': '2021-10-10', 'time': '13:56:56.505089'}

# Use of rename

In [130]:
col3.update_one({'_id': 6}, {"$rename": {"number_comment": 'number_comments'}})

for x in col3.find():
    print(x)

{'_id': 1, 'title': 'Post one', 'body': 'Body of post one', 'category': 'News', 'likes': 4, 'tags': ['news', 'events'], 'user': {'name': 'John Doe', 'status': 'author'}, 'date': '2021-10-10', 'time': '12:08:44.827112'}
{'_id': 2, 'title': 'Post Two', 'body': 'Body of post two', 'category': 'Technology', 'date': '2021-10-10', 'comment': [{'body': 'comment one', 'user': 'Mary William', 'date': '2021-10-10'}, {'body': 'comment two', 'user': 'Harry White', 'date': '2021-10-10'}]}
{'_id': 3, 'title': 'Post three', 'body': 'Body of post three', 'category': 'News', 'date': '2021-10-10'}
{'_id': 4, 'title': 'Post four', 'body': 'Body of four', 'category': 'Entertainment', 'date': '2021-10-10'}
{'_id': 5, 'title': 'Post five', 'body': 'Body of the post five', 'category': ['Sports', 'international', 'politics', 'entertainment'], 'date': '2021-10-10', 'time': '13:09:48.308611'}
{'_id': 6, 'title': 'Post six', 'body': 'Body of the post five', 'category': ['Sports', 'international', 'politics', 'entertainment'], 'id_number': 128, 'date': '2021-10-10', 'time': '13:56:56.505089', 'number_comments': [12, 45, 67, 89]}

# Text Search

In [136]:
find = col3.find({
    "$text":{
        "$search": "\"Post orts\""
    }
})

for x in col3.find({"$text":{"$search": "\"Post number_comments\""}}):
    print(x)

OperationFailure: text index required for $text query, full error: {'ok': 0.0, 'errmsg': 'text index required for $text query', 'code': 27, 'codeName': 'IndexNotFound'}

# Use of gt(greater than), lt(less than), gte(greater than equal), lte(less than equal)

# Using Cloud MongoDB DataBase

In [4]:
client2 = MongoClient("mongodb+srv://hasan:1234@firstcluster.mqqzv.mongodb.net/test")

In [5]:
print("List of collections are : ", client2.list_database_names())

List of collections are :  ['admin', 'local']

In [6]:
# Creating new database 
db2 = client2['cloud_database']

# Creating New collection in first_database 
cloud_col1 = db2.create_collection('cloud_collection')

In [7]:
cloud_query = [
    {
        "_id": 1,
        "f_name": "Rana",
        "address": {"first_address": "North midland hospital london", "second_address": "Sachan Bazar, Jamaganj"},
        "mobile": 12345,
        "education": "MBBS"
    }, 
    {
        "_id": 2,
        "f_name": "Hasan",
        "address": {"first_address": "Sylhet", "second_address": "Sachan Bazar"},
        "mobile": 2345, 
        "education": "B.Sc in CSE"
    }, 
    {
        "_id": 3,
        "f_name": "Nadira", 
        "address": {"first_address": "Sunamganj", "second_address": "Sachna"}, 
        "mobile": 5678, 
        "education": "Honors in Economics"
    }, 
    {
        "_id": 4,
        "f_name": "Sharmin", 
        "address": {"first_address": "sachna bazar", 'second_address': "Sylhet"}, 
        "mobile": 890, 
        "education": "Honors in English"
    }
]

In [8]:
# Inserting many query at a time 
cloud_col1.insert_many(cloud_query)

In [9]:
for x in cloud_col1.find(): 
    print(x)

{'_id': 1, 'f_name': 'Rana', 'address': {'first_address': 'North midland hospital london', 'second_address': 'Sachan Bazar, Jamaganj'}, 'mobile': 12345, 'education': 'MBBS'}
{'_id': 2, 'f_name': 'Hasan', 'address': {'first_address': 'Sylhet', 'second_address': 'Sachan Bazar'}, 'mobile': 2345, 'education': 'B.Sc in CSE'}
{'_id': 3, 'f_name': 'Nadira', 'address': {'first_address': 'Sunamganj', 'second_address': 'Sachna'}, 'mobile': 5678, 'education': 'Honors in Economics'}
{'_id': 4, 'f_name': 'Sharmin', 'address': {'first_address': 'sachna bazar', 'second_address': 'Sylhet'}, 'mobile': 890, 'education': 'Honors in English'}