In [15]:
import pymongo 
from pymongo import MongoClient

In [16]:
client2 = MongoClient("mongodb+srv://hasan:1234@firstcluster.mqqzv.mongodb.net/test")

In [17]:
print("List of collections are : ", client2.list_database_names())

List of collections are :  ['cloud_database', 'admin', 'local']

In [18]:
############ Dropping a database 
#client2.drop_database('cloud_database2') 

############ Dropping a collection
#db.drop_collection('cloud_collection2')

In [19]:
# Creating new database 
db2 = client2['cloud_database2']

# Creating New collection in first_database 
cloud_col1 = db2.create_collection('cloud_collection2')

In [20]:
cloud_query = [
    {
        "_id": 1,
        "f_name": "Rana",
        "address": {"first_address": "North midland hospital london", "second_address": "Sachan Bazar, Jamaganj"},
        "mobile": 12345,
        "education": "MBBS"
    }, 
    {
        "_id": 2,
        "f_name": "Hasan",
        "address": {"first_address": "Sylhet", "second_address": "Sachan Bazar"},
        "mobile": 2345, 
        "education": "B.Sc in CSE"
    }, 
    {
        "_id": 3,
        "f_name": "Nadira", 
        "address": {"first_address": "Sunamganj", "second_address": "Sachna"}, 
        "mobile": 5678, 
        "education": "Honors in Economics"
    }, 
    {
        "_id": 4,
        "f_name": "Sharmin", 
        "address": {"first_address": "sachna bazar", 'second_address': "Sylhet"}, 
        "mobile": 890, 
        "education": "Honors in English"
    }
]

In [21]:
# Inserting many query at a time 
cloud_col1.insert_many(cloud_query)

In [22]:
for x in cloud_col1.find(): 
    print(x)

{'_id': 1, 'f_name': 'Rana', 'address': {'first_address': 'North midland hospital london', 'second_address': 'Sachan Bazar, Jamaganj'}, 'mobile': 12345, 'education': 'MBBS'}
{'_id': 2, 'f_name': 'Hasan', 'address': {'first_address': 'Sylhet', 'second_address': 'Sachan Bazar'}, 'mobile': 2345, 'education': 'B.Sc in CSE'}
{'_id': 3, 'f_name': 'Nadira', 'address': {'first_address': 'Sunamganj', 'second_address': 'Sachna'}, 'mobile': 5678, 'education': 'Honors in Economics'}
{'_id': 4, 'f_name': 'Sharmin', 'address': {'first_address': 'sachna bazar', 'second_address': 'Sylhet'}, 'mobile': 890, 'education': 'Honors in English'}